html, body {
    font-family: Open Sans;
    font-size: 18px;
    line-height: 28px;
    margin:0px;
  }


.ParallaxContainer {
    background-color: aliceblue;
    background-image: url("Images/background2.jpg");

    min-height: 500px; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% auto;
    /*position: relative;*/
    height: 600px;
}



.profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.ParallaxContent {
    font-family: "Roboto Slab", serif;
    font-size: 60px;
    top: 30%;
    color: black;
    text-align: center;
  }