/*Set the title box*/
#big-title-div {
    transform: translateY(50px);
    width: auto;
    border: 0px solid black;
    padding: auto;
    height: auto;
    margin: auto;
}

/*Set the title properties*/
#big-title {
    text-align: center;
    font-family: sans-serif, Verdana, Geneva, Tahoma;
    color: white;
    text-shadow: 3px 2px rgb(51, 51, 51);
}

#big-subtitle {
    text-align: center;
    font-family: sans-serif, Geneva, Tahoma;
    font-style: oblique;
    color: white;
}

/*Set the background gradient*/
body {
    background: radial-gradient(rgb(56, 71, 99), rgb(90, 176, 233));
}

/*Set the styling for the profile picture*/
.profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
