.topnav {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none; /* So no bullets appear*/
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.5);
    position: fixed; /* The bar is always at the top*/
    border-radius: 0px; 
}


.topnav-item-home {
    float: left /* To make the itens appear in a bar and not as a list*/
}

.topnav-item {
    float: right /* To make the itens appear in a bar and not as a list*/
}

li a {
    display: block; /* So that the bar isnt just the height of the text*/
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /* So there isnt any underline*/
}

/*Setting up hover for the nav bar*/
li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color:rgb(20, 136, 178);
}